
/* Stylesheets should be redone according to the book this is duuuumb */


title {
    font-family: Lucida Handwriting, cursive;

}

header{
    margin-bottom: 55px;
}

/* Id's for specific elements of the html document.*/

#Main-Header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#Head-Time{
    font-family: Tahoma, serif;
    position: fixed;
    font-size: 17px;
    font-style: italic;
}

#Head-Date{
    font-family: Tahoma, serif;
    display: block;
    font-size: 17px;
    text-align: right;
    font-style: italic;
}
#SubTitle{
    font-family: Arial, Helvetica, sans-serif;
}
#Disclaimer{
    font-family: Arial, Helvetica, sans-serif;
}
#Gis-frame{
    width: 1618px;
    height: 887px;
}